<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzj.muxin.mapper.ChatUsersMapper">
  <resultMap id="BaseResultMap" type="com.zzj.muxin.domain.ChatUsers">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="face_image" jdbcType="VARCHAR" property="faceImage" />
    <result column="face_image_big" jdbcType="VARCHAR" property="faceImageBig" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="qrcode" jdbcType="VARCHAR" property="qrcode" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="chat_sex" jdbcType="INTEGER" property="chatSex" />
    <result column="professional" jdbcType="VARCHAR" property="professional" />
    <result column="bsw_age" jdbcType="INTEGER" property="bswAge" />
    <result column="picture_num" jdbcType="INTEGER" property="pictureNum" />
    <result column="bsw_constellation" jdbcType="VARCHAR" property="bswConstellation" />
    <result column="bsw_address" jdbcType="VARCHAR" property="bswAddress" />
    <result column="bsw_longitude" jdbcType="DOUBLE" property="bswLongitude" />
    <result column="bsw_latitude" jdbcType="DOUBLE" property="bswLatitude" />
    <result column="bsw_city" jdbcType="VARCHAR" property="bswCity" />
    <result column="bsw_like" jdbcType="INTEGER" property="bswLike" />
    <result column="bsw_follow" jdbcType="INTEGER" property="bswFollow" />
    <result column="bsw_fans" jdbcType="INTEGER" property="bswFans" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, password, face_image, face_image_big, nickname, qrcode, cid, description, 
    phone, chat_sex, professional, bsw_age, picture_num, bsw_constellation, bsw_address, 
    bsw_longitude, bsw_latitude, bsw_city, bsw_like, bsw_follow, bsw_fans
  </sql>
  <select id="selectByExample" parameterType="com.zzj.muxin.domain.ChatUsersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzj.muxin.domain.ChatUsersExample">
    delete from chat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzj.muxin.domain.ChatUsers">
    insert into chat_users (id, username, password, 
      face_image, face_image_big, nickname, 
      qrcode, cid, description, 
      phone, chat_sex, professional, 
      bsw_age, picture_num, bsw_constellation, 
      bsw_address, bsw_longitude, bsw_latitude, 
      bsw_city, bsw_like, bsw_follow, 
      bsw_fans)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{faceImage,jdbcType=VARCHAR}, #{faceImageBig,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{qrcode,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{chatSex,jdbcType=INTEGER}, #{professional,jdbcType=VARCHAR}, 
      #{bswAge,jdbcType=INTEGER}, #{pictureNum,jdbcType=INTEGER}, #{bswConstellation,jdbcType=VARCHAR}, 
      #{bswAddress,jdbcType=VARCHAR}, #{bswLongitude,jdbcType=DOUBLE}, #{bswLatitude,jdbcType=DOUBLE}, 
      #{bswCity,jdbcType=VARCHAR}, #{bswLike,jdbcType=INTEGER}, #{bswFollow,jdbcType=INTEGER}, 
      #{bswFans,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.muxin.domain.ChatUsers">
    insert into chat_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="faceImage != null">
        face_image,
      </if>
      <if test="faceImageBig != null">
        face_image_big,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="qrcode != null">
        qrcode,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="chatSex != null">
        chat_sex,
      </if>
      <if test="professional != null">
        professional,
      </if>
      <if test="bswAge != null">
        bsw_age,
      </if>
      <if test="pictureNum != null">
        picture_num,
      </if>
      <if test="bswConstellation != null">
        bsw_constellation,
      </if>
      <if test="bswAddress != null">
        bsw_address,
      </if>
      <if test="bswLongitude != null">
        bsw_longitude,
      </if>
      <if test="bswLatitude != null">
        bsw_latitude,
      </if>
      <if test="bswCity != null">
        bsw_city,
      </if>
      <if test="bswLike != null">
        bsw_like,
      </if>
      <if test="bswFollow != null">
        bsw_follow,
      </if>
      <if test="bswFans != null">
        bsw_fans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="faceImage != null">
        #{faceImage,jdbcType=VARCHAR},
      </if>
      <if test="faceImageBig != null">
        #{faceImageBig,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null">
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="chatSex != null">
        #{chatSex,jdbcType=INTEGER},
      </if>
      <if test="professional != null">
        #{professional,jdbcType=VARCHAR},
      </if>
      <if test="bswAge != null">
        #{bswAge,jdbcType=INTEGER},
      </if>
      <if test="pictureNum != null">
        #{pictureNum,jdbcType=INTEGER},
      </if>
      <if test="bswConstellation != null">
        #{bswConstellation,jdbcType=VARCHAR},
      </if>
      <if test="bswAddress != null">
        #{bswAddress,jdbcType=VARCHAR},
      </if>
      <if test="bswLongitude != null">
        #{bswLongitude,jdbcType=DOUBLE},
      </if>
      <if test="bswLatitude != null">
        #{bswLatitude,jdbcType=DOUBLE},
      </if>
      <if test="bswCity != null">
        #{bswCity,jdbcType=VARCHAR},
      </if>
      <if test="bswLike != null">
        #{bswLike,jdbcType=INTEGER},
      </if>
      <if test="bswFollow != null">
        #{bswFollow,jdbcType=INTEGER},
      </if>
      <if test="bswFans != null">
        #{bswFans,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzj.muxin.domain.ChatUsersExample" resultType="java.lang.Long">
    select count(*) from chat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chat_users
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.faceImage != null">
        face_image = #{record.faceImage,jdbcType=VARCHAR},
      </if>
      <if test="record.faceImageBig != null">
        face_image_big = #{record.faceImageBig,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.qrcode != null">
        qrcode = #{record.qrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.chatSex != null">
        chat_sex = #{record.chatSex,jdbcType=INTEGER},
      </if>
      <if test="record.professional != null">
        professional = #{record.professional,jdbcType=VARCHAR},
      </if>
      <if test="record.bswAge != null">
        bsw_age = #{record.bswAge,jdbcType=INTEGER},
      </if>
      <if test="record.pictureNum != null">
        picture_num = #{record.pictureNum,jdbcType=INTEGER},
      </if>
      <if test="record.bswConstellation != null">
        bsw_constellation = #{record.bswConstellation,jdbcType=VARCHAR},
      </if>
      <if test="record.bswAddress != null">
        bsw_address = #{record.bswAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.bswLongitude != null">
        bsw_longitude = #{record.bswLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.bswLatitude != null">
        bsw_latitude = #{record.bswLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.bswCity != null">
        bsw_city = #{record.bswCity,jdbcType=VARCHAR},
      </if>
      <if test="record.bswLike != null">
        bsw_like = #{record.bswLike,jdbcType=INTEGER},
      </if>
      <if test="record.bswFollow != null">
        bsw_follow = #{record.bswFollow,jdbcType=INTEGER},
      </if>
      <if test="record.bswFans != null">
        bsw_fans = #{record.bswFans,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chat_users
    set id = #{record.id,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      face_image = #{record.faceImage,jdbcType=VARCHAR},
      face_image_big = #{record.faceImageBig,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      qrcode = #{record.qrcode,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      chat_sex = #{record.chatSex,jdbcType=INTEGER},
      professional = #{record.professional,jdbcType=VARCHAR},
      bsw_age = #{record.bswAge,jdbcType=INTEGER},
      picture_num = #{record.pictureNum,jdbcType=INTEGER},
      bsw_constellation = #{record.bswConstellation,jdbcType=VARCHAR},
      bsw_address = #{record.bswAddress,jdbcType=VARCHAR},
      bsw_longitude = #{record.bswLongitude,jdbcType=DOUBLE},
      bsw_latitude = #{record.bswLatitude,jdbcType=DOUBLE},
      bsw_city = #{record.bswCity,jdbcType=VARCHAR},
      bsw_like = #{record.bswLike,jdbcType=INTEGER},
      bsw_follow = #{record.bswFollow,jdbcType=INTEGER},
      bsw_fans = #{record.bswFans,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>