<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzj.muxin.mapper.LvjiPublishTopicMapper">
  <resultMap id="BaseResultMap" type="com.zzj.muxin.domain.LvjiPublishTopic">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="topic_content" jdbcType="VARCHAR" property="topicContent" />
    <result column="topic_location" jdbcType="VARCHAR" property="topicLocation" />
    <result column="topic_picture" jdbcType="VARCHAR" property="topicPicture" />
    <result column="topic_title" jdbcType="VARCHAR" property="topicTitle" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_at, update_at, topic_content, topic_location, topic_picture, topic_title, 
    user_id
  </sql>
  <select id="selectByExample" parameterType="com.zzj.muxin.domain.LvjiPublishTopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lvji_publish_topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzj.muxin.domain.LvjiPublishTopicExample">
    delete from lvji_publish_topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzj.muxin.domain.LvjiPublishTopic">
    insert into lvji_publish_topic (id, create_at, update_at, 
      topic_content, topic_location, topic_picture, 
      topic_title, user_id)
    values (#{id,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{topicContent,jdbcType=VARCHAR}, #{topicLocation,jdbcType=VARCHAR}, #{topicPicture,jdbcType=VARCHAR}, 
      #{topicTitle,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.muxin.domain.LvjiPublishTopic">
    insert into lvji_publish_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="topicContent != null">
        topic_content,
      </if>
      <if test="topicLocation != null">
        topic_location,
      </if>
      <if test="topicPicture != null">
        topic_picture,
      </if>
      <if test="topicTitle != null">
        topic_title,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="topicContent != null">
        #{topicContent,jdbcType=VARCHAR},
      </if>
      <if test="topicLocation != null">
        #{topicLocation,jdbcType=VARCHAR},
      </if>
      <if test="topicPicture != null">
        #{topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="topicTitle != null">
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzj.muxin.domain.LvjiPublishTopicExample" resultType="java.lang.Long">
    select count(*) from lvji_publish_topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lvji_publish_topic
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.topicContent != null">
        topic_content = #{record.topicContent,jdbcType=VARCHAR},
      </if>
      <if test="record.topicLocation != null">
        topic_location = #{record.topicLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.topicPicture != null">
        topic_picture = #{record.topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.topicTitle != null">
        topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lvji_publish_topic
    set id = #{record.id,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      topic_content = #{record.topicContent,jdbcType=VARCHAR},
      topic_location = #{record.topicLocation,jdbcType=VARCHAR},
      topic_picture = #{record.topicPicture,jdbcType=VARCHAR},
      topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>