<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzj.muxin.mapper.TbGroupMemberMapper">
  <resultMap id="BaseResultMap" type="com.zzj.muxin.domain.TbGroupMember">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="notify_level" jdbcType="INTEGER" property="notifyLevel" />
    <result column="permission_type" jdbcType="INTEGER" property="permissionType" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, alias, create_at, group_id, notify_level, permission_type, update_at, user_id
  </sql>
  <select id="selectByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample">
    delete from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzj.muxin.domain.TbGroupMember">
    insert into tb_group_member (id, alias, create_at, 
      group_id, notify_level, permission_type, 
      update_at, user_id)
    values (#{id,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{groupId,jdbcType=VARCHAR}, #{notifyLevel,jdbcType=INTEGER}, #{permissionType,jdbcType=INTEGER}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.muxin.domain.TbGroupMember">
    insert into tb_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="notifyLevel != null">
        notify_level,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="notifyLevel != null">
        #{notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample" resultType="java.lang.Long">
    select count(*) from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_group_member
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyLevel != null">
        notify_level = #{record.notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="record.permissionType != null">
        permission_type = #{record.permissionType,jdbcType=INTEGER},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_group_member
    set id = #{record.id,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      notify_level = #{record.notifyLevel,jdbcType=INTEGER},
      permission_type = #{record.permissionType,jdbcType=INTEGER},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zzj.muxin.domain.TbGroupMember">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="notify_level" jdbcType="INTEGER" property="notifyLevel" />
    <result column="permission_type" jdbcType="INTEGER" property="permissionType" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, alias, create_at, group_id, notify_level, permission_type, update_at, user_id
  </sql>
  <select id="selectByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample">
    delete from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzj.muxin.domain.TbGroupMember">
    insert into tb_group_member (id, alias, create_at, 
      group_id, notify_level, permission_type, 
      update_at, user_id)
    values (#{id,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{groupId,jdbcType=VARCHAR}, #{notifyLevel,jdbcType=INTEGER}, #{permissionType,jdbcType=INTEGER}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.muxin.domain.TbGroupMember">
    insert into tb_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="notifyLevel != null">
        notify_level,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="notifyLevel != null">
        #{notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzj.muxin.domain.TbGroupMemberExample" resultType="java.lang.Long">
    select count(*) from tb_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_group_member
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyLevel != null">
        notify_level = #{record.notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="record.permissionType != null">
        permission_type = #{record.permissionType,jdbcType=INTEGER},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_group_member
    set id = #{record.id,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      notify_level = #{record.notifyLevel,jdbcType=INTEGER},
      permission_type = #{record.permissionType,jdbcType=INTEGER},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>